.articleCard {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.articleCard p {
    margin: 0;
    padding: 0;
}

.articleCard img {
    border-radius: 16px;
}

.articleCard .price {
    font-size: 28px;
    font-weight: 600;
}